.wrapper h2, p {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  background: linear-gradient(45deg, var(--white) 20%, var(--orange) 90%, var(--orange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: 72px;
  text-transform: uppercase;
  line-height: 4rem;
}


.subtitle ~ span {
  font-weight: 300;
  font-size: 32px;
}


.button {
  padding: 15px 20px;
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  background: transparent;
  border: 2px solid var(--blue);
  border-image: linear-gradient(to right top, var(--blue), #16152a, var(--blue));
  border-image-slice: 1;
  transition: 0.2s;
}

.button:focus-visible,
.button:hover {
  outline: none;
  border-image: linear-gradient(to left top, var(--blue-bright), #16152a, var(--blue-bright));
  border-image-slice: 1;
  color: var(--greyC4);
}

.button:active {
  color: var(--white);
  background-color: var(--blue-dark);
}

.btnWrapper {
  margin-top: 100px;
  position: relative;
  display: flex;
  align-items: center;
  float: left;
  width: 100%;
  max-width: 225px;
  transition: 0.3s;
}

.corner {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid var(--greyE4);
  width: 8px;
  height: 8px;
  transition: width 0.3s, height 0.3s;
}

.secondCorner {
  top:0;
  right:0;
  border-left: none;
  border-bottom: none;
}

.forthCorner {
  bottom:0;
  left:0;
  border-top: none;
  border-right: none;
}

.btnWrapper:hover .corner {
  width: 14px;
  height: 14px;
  border-width: 4px;
  border-color: var(--greyE4);
}

@media (max-width: 1140px) {
  .wrapper {
    margin-bottom: 200px;
    justify-self: center;
  }
}
