.card > h3 {
  margin: 0;
}

.card {
  padding: 50px 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--card-gradient);
  border-image: linear-gradient(to right bottom, var(--grey99), transparent, var(--grey99));
  border-image-slice: 1;
  cursor: pointer;
  transition: all 0.3s;
}

.card::before {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  /* z-index: -1000; */
}


.card:first-child::before {
  background: linear-gradient(320deg, var(--card-gradient) -20%, transparent 45%);
}

.card:first-child {
  border-top: none;
  border-left: none;
  transition: all 1s;
}


.card:nth-child(2) {
  border-top: none;
  border-right: none;
  border-image: linear-gradient(to right top, var(--grey99), transparent, var(--grey99));
  border-image-slice: 1;
}

.card:nth-child(2)::before {
  background: linear-gradient(45deg, var(--card-gradient) -20%, transparent 45%);
}


.card:nth-child(3) {
  border-bottom: none;
  border-left: none;
  border-image: linear-gradient(to right top, var(--grey99), transparent, var(--grey99));
  border-image-slice: 1;
}

.card:nth-child(3)::before {
  background: linear-gradient(220deg, var(--card-gradient) -20%, transparent 45%);
}


.card:nth-child(4) {
  border-right: none;
  border-bottom: none;
}

.card:nth-child(4)::before {
  background: linear-gradient(135deg, var(--card-gradient) -20%, transparent 45%);
}


.card:hover::before {
  opacity: 1;
}

.card:hover {
  transform: scale(1.1);
}


.title {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: var(--grey99);
}

.highlight {
  padding-top: 10px;
  font-weight: 700;
  font-size: 72px;
  color: var(--greyC4);
}

/* @media (max-width: 1140px) {
  .card:first-child {
    grid-column: 2 / 1 span;
  }
  .card:nth-child(2) {
    grid-column: 1 / 1 span;
    grid-row: 3;
  }
  .card:nth-child(3) {
    grid-column: 2 / 1 span;
    grid-row: 3;
  }
  .card:nth-child(4) {
    grid-column: 2 / 1 span;
    grid-row: 2;
  }
} */
