.layout {
  /* width: 100vw; */
  height: 100vh;
  background-image: url(../../../assets/img/backgound-spaceX.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .layout {
    height: 100%;
  }
}
