.button {
  display: block;
  margin-right: auto;
  transform-origin: 16px 11px;
  float: left;
  outline: 0;
  border: 0;
  padding: 12px;
  background: none;
}

.button > span {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.bar {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 7px;
  background-color: #fff;
}

.button:focus-visible {
  border: medium none rgb(111, 255, 176);
  box-shadow: rgb(111, 255, 176) 0 0 2px 2px;
  outline: 0;
}

.button:hover span:nth-of-type(1) {
  width: 33px;
}

.button:hover span:nth-of-type(2) {
  width: 40px;
}

.button:hover span:nth-of-type(3) {
  width: 30px;
}

.button.active span:nth-of-type(1) {
  transform: rotate(45deg) translate(10px, 10px);
  width: 40px;
}

.button.active span:nth-of-type(2) {
  opacity: 0;
  pointer-events: none;
}

.button.active span:nth-of-type(3) {
  transform: rotate(-45deg) translate(7px, -7px);
  width: 40px;
}
